.moda-cabeçalho{
 background-color:  #BB86FC;
}

.casa-cabeçalho{
    background-color: #00C4B4;
}

.itens { 
    background-color:  #424250;
    text-align: center;
    color: rgb(255, 255, 255);
}

